.customButton {
  
  background-image: url('/pic.jpeg');
  background-size: contain; /* Adjust background size to contain within the button */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Center the background image */
  
  border: 2px solid #333;
  width: 300px;
  height: 530px;
  text-align: center; /* Adjusted to center-align text */
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
  margin-top: 20px; /* Adjust margin-top as needed */
}

.customButton:hover {
  background-color: #870bda !important;
}

.customButton:active {
  background-color: #3e8e41;
}
