.background {
  background-image: url('/menuu.jpg');
  opacity: 1;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  border-radius: 1vh;
  /*border: 0.5px solid black;*/
  box-sizing: border-box;
  flex-shrink: 1;
  filter: blur(0px);

}


.card{
    backdrop-filter: opacity(10px) ;
    backdrop-filter: blur(4px); 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    overflow: unset;
    background-color: rgb(247, 246, 243);
    width: 45vw;
    height: 55vh;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 7px;
    box-shadow: 1.5px 1.5px 10px 1px black;
    box-sizing: content-box;
  }
  .Resultcard{
    backdrop-filter: blur(3px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    overflow: unset;
    background-color: rgba(232, 236, 232, 0.274);
    width: 90vw;
    height: 90vh;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 7px;
    box-shadow: 2px 2px 10px 1px black;
  }

  .fadeIn {
    animation: fadeInAnimation 3.5s ease forwards; /* Apply the fadeIn animation */
  }
  .fadeInEx {
    animation: fadeInAnimation 0.85s ease forwards; /* Apply the fadeIn animation */
  }
  .enlarge {
    animation: enlargeAnimation 1.1s ease forwards, fadeInAnimation 0.95s ease forwards;
  }
  .enlargeX {
    animation: enlargeAnimationX 0.8s ease forwards, fadeInAnimation 0.7s ease forwards;
  }
  .smallToBig{
    animation: smallToBig 1.7s ease forwards, fadeInAnimation 1.5s ease forwards;
  }
  
  
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
  }
60%{
       opacity: 0.01;
 }
  100% {
      opacity: 1;
  }
  }
  @keyframes enlargeAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes enlargeAnimationX {
  0% {
      transform: scale(1);
  }
  70% {
      transform: scale(1.08);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes smallToBig {
  0% {
      transform: scale(0.8);
  }
  60% {
      transform: scale(1.2);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes cardResult {
  0% {
      transform: scale(0.83333);
  }
  60% {
      transform: scale(1.06);
  }
  100% {
      transform: scale(1.00);
  }
}

.button {
  backdrop-filter: blur(3px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: rgba(232, 236, 232, 0.274);
  font-size: 1.2vw; /* Adjust text size to fit inside the element */
  width: 4.5vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px black;    
  flex-shrink: 1;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: 0.5px solid black;  
  padding-left: 1%;
  padding-right: 1%;
 /* margin-left: 1.5%;
*/
}

.button:hover{
    backdrop-filter: blur(5px);
    transform: scale(1.05);
    background-color: rgba(5, 245, 37, 0.349);
    
  } 
.button:activate{
    font-size: 1.1em;
  }
  
  
  .index{
    backdrop-filter: blur(3px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(232, 236, 232, 0.274);
    font-size: 1.6vw;
    width: 4.5vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;    
    flex-shrink: 1;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    border: 0.5px solid black;
    /*padding-left: 1%;
    padding-right: 1%;
    margin-right: 1.5%;*/
  }

.title{    
  box-sizing: border-box;
  text-overflow: break-word;
    display: flex;
    flex-wrap: wrap;
    font-size: 125%;
    font-weight: 500;
    height: 6.3vh;
    width: calc(33vw);
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: Calibri;
    /*padding-left: 0.2vw;
    padding-right: 0.2vw;
    */
    flex-shrink: 1;
    padding-bottom: 1.2vh;
    
}

.optionBox{
    padding: 2.2vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: visible;
    flex-shrink: 1;
    justify-content: flex-end;
    align-content: center;
    height: auto;
    width: 35vw;
    box-sizing: border-box;
    position: relative;
    top: 0px;
    margin: 5px 15px 5px 15px; 
}
  
.option {
  text-overflow: break-word;
  padding: 0% 7% 0% 7%;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap; 
  height: 7vh; 
  width: 40vw; 
  margin: 5px; 
  border-radius: 70px; 
  background-color: rgba(197, 187, 155, 0.116); 
  color: rgb(0, 0, 0); 
  align-items:center;
  text-align: center;
  justify-content:center;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.3s ease, backdrop-filter 0.3s ease;
  font-size: 130%;
  font-weight: 500;
  font-family: Calibri;
  overflow: visible;

}


.option:hover{
  /*backdrop-filter: blur(5px);*/
  transform: scale(1.06);
  background-color: rgba(5, 245, 37, 0.349);
  
}





/* Media query for smaller screens */
@media screen and (max-width: 1060px) {
  
  .card{
    height: 55vh;
    width: 60vw;
  }

  .index{
    font-size: calc(2vw); /* Adjusted font size for smaller screens */
    width: 5vw; /* Adjusted width for smaller screens */
    height: 6vh;
    left: 1vw;
    right: 1vw;
    flex-shrink: 1;
    left: 0px;

  }
  
  .button{
    font-size: calc(1.5vw); /* Adjusted font size for smaller screens */
    width: 5vw; /* Adjusted width for smaller screens */
    height: 6vh;
    left: 1vw;
    right: 1vw;
    flex-shrink: 1;
    padding-right: -13%;
  }
  .option{
    font-size: 110%;
  }
  .option:hover{
    
  transform: scale(1.00);
  background-color: rgba(5, 245, 37, 0);
  }
}


