.index {
    background-image: url('/giphy.gif'); /* Replace './background.gif' with the path to your GIF */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: 'flex'; 
    flex-direction: 'column';
    justify-content: 'center';
  }