.background {
  background-image: url('/bluePaper.jpg');
  /* Ensure the background image covers the entire background */
  opacity: 0.90;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; /* Centers the background image within the container */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0vw;
  height: 100vh;
  width: 100vw;
  border-radius: 1vh;
  /*border: 0.5px solid black;*/
  box-sizing: border-box;
  flex-shrink: 1;
  filter: blur(0px);

}


.img {
  display: flex;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0.1px 0.1px 0.1px 0.1px black;
  border-radius: 3%;
  padding: 0;
  width: 50%;
  height: 75%;
  align-items: center;
  box-sizing: border-box;
  filter: contrast(110%);  
  justify-content: center;
  vertical-align: top;
  
}
  
  
    .Resultcard{
      backdrop-filter: blur(3px);
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      overflow: hidden;
      overflow: unset;
      background-color: rgb(247, 246, 243);
      width: 67.5vw;
      height: 82.5vh;
      align-items: center;
      border-radius: 7px;
      box-shadow: 2px 2px 10px 1px black;
    }

   .innerCard{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: flex-start;
      width: 60vw;
      height: 50vh;
      gap: 1vh;
      color: rgba(0, 0, 0, 1);
      padding-top: 3vh;
      font-size: 140%;
      font-family: Arial;
    }


    .description{
      margin-top: 2vh;
      padding: 0 0.1vw 0 0.1vw;
      width: 60vw;
      -webkit-line-clamp: 4;
    }



  
    .fadeIn {
      animation: fadeInAnimation 0.8s ease forwards; /* Apply the fadeIn animation */
    }
    .fadeInEx {
      animation: fadeInAnimation 1.2s ease forwards; /* Apply the fadeIn animation */
    }
    .enlarge {
      animation: enlargeAnimation 1s ease forwards, fadeInAnimation 0.95s ease forwards;
    }
    .smallToBig{
      animation: smallToBig 1.7s ease forwards, fadeInAnimation 1.5s ease forwards;
    }
    .cardResult{
      animation-name: cardResult;
      animation-duration: 1.2s; /* Adjust as needed */
      animation-timing-function: ease;
    }
    
    
    @keyframes fadeInAnimation {
      0% {
        opacity: 0;
    }
  60%{
         opacity: 0.01;
   }
    100% {
        opacity: 1;
    }
    }
    @keyframes enlargeAnimation {
      0% {
          transform: scale(1);
      }
      50% {
          transform: scale(1.1);
      }
      100% {
          transform: scale(1);
      }
  }
  
  @keyframes smallToBig {
    0% {
        transform: scale(0.8);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
  }
  
  @keyframes cardResult {
    0% {
        transform: scale(0.66666);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1.0);
    }
  }
  
  .button {
    background-image: url('/home.svg');
    background-size: contain; /* Scale the background image to fit within the element */
    background-repeat: no-repeat;
    background-position: center; /* Center the background image vertically and horizontally */
    backdrop-filter: blur(3px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(232, 236, 232, 0.274);
    text-size-adjust: 0.2;
    width: 5vw;
    height: 6vh;
    align-content: center;
    justify-content: center;
    border-radius: 2px;
    flex-shrink: 0;
    box-sizing: border-box;
    position: fixed;
    cursor: pointer;
    font-size: 120%;
    font-family: Calibri;
    margin-top: 72.1vh;
  }
  .button:hover{
      backdrop-filter: blur(5px);
      transform: scale(1.05);
      
    } 
  .button:activate{
      font-size: 1.1em;
    }

  .share {
      background-size: contain; /* Scale the background image to fit within the element */
      background-repeat: no-repeat;
      background-position: center; /* Center the background image vertically and horizontally */
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      background-color: rgba(232, 236, 232, 0.274);
      width: 5vw;
      height: 5vh;
      align-content: center;
      justify-content: center;
      border-radius: 2px;
      flex-shrink: 0;
      box-sizing: border-box;
      position: fixed;
      font-family: Calibri;
      margin-top: 73vh;    
      border-radius: 40%;  
    }
  .share:hover{
        transform: scale(1.09);
        background-color: rgba(5, 245, 37, 0.349);
        
      } 
  .share:activate{
        font-size: 1.1em;
      }
      
    
  
  
  
  /* Media query for smaller screens */
  @media screen and (max-width: 1200px) {
    .share {
      width: 4vw;
      height: 4vh;
    }
    .Resultcard{
     width: 90vw;
     height: 82.5vh;
    }
    .description{
      padding-top: 2vh;
      width: 80vw;
    }
  }
  
    /* Media query for smaller screens */
    @media screen and (max-width: 700) {
      .share {
        width: 3.5vw;
        height: 3.5vh;
      }
    }
  
  